{% extends "base.html" %}
{% load static %}

{% block title %}
    404 - Page Not Found - Federal Ministry of Health Nigeria
{% endblock title %}

{% block extra_css %}
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
{% endblock extra_css %}

{% block content %}
    <!-- Preloader -->
    <div class="preloader">
        <div class="loader">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>
            <div class="indicator"> 
                <svg width="16px" height="12px">
                    <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                </svg>
            </div>
        </div>
    </div>
    <!-- End Preloader -->

    <!-- Header Area -->
    <div id="header-placeholder"></div>
    <!-- End Header Area -->

    <!-- Error Page -->
    <section class="error-page section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-12">
                    <!-- Error Inner -->
                    <div class="error-inner text-center">
                        <h1>404 <span>Oop's, sorry we can't find that page!</span></h1>
                        <p>The page you are looking for may have been moved, renamed, or no longer exists.</p>
                        <form class="search-form" action="{% url 'search' %}" method="GET">
                            <input type="text" name="query" placeholder="Search from here" required>
                            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!--/ End Error Inner -->
                </div>
            </div>
        </div>
    </section>
    <!--/ End Error Page -->

    <!-- Footer Area -->
    <div id="footer-placeholder"></div>
    <!--/ End Footer Area -->
{% endblock content %}

{% block extra_js %}
    <!-- Owl Carousel JS -->
    <script src="{% static 'js/owl-carousel.js' %}"></script>
{% endblock extra_js %}