{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="bread-inner">
                <div class="row">
                    <div class="col-12">
                        <h2>Anti-Corruption & Transparency Unit</h2>
                        <ul class="bread-list">
                            <li><a href="index.html">Home</a></li>
                            <li><i class="icofont-simple-right"></i></li>
                            <li class="active">Departments</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Anti-Corruption & Transparency Unit Details Area -->
    <section class="pf-details section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner-content">
                        <div class="body-text">
                            <h2>MANDATE OF ACTU</h2>
                            <p>The Anti-Corruption and Transparency Unit (ACTU) is set to enhance the accessibility to health service delivery through effective monitoring of procurement, supply, and utilization of medical hardware and consumables to the satisfaction of underserved, rural, and hard-to-reach communities in Nigeria.</p>
                            <h3>POWER AND FUNCTIONS OF ACTU</h3>
                            <p>ACTUs derive their powers from the provisions of Section 6(a) – (t) of the Corrupt Practices and Other Related Offences Act, 2000, which empowers them to serve as compliance and ethics officers, with the sole aim of educating and enlightening their respective MDAs on the need for adherence to rules, regulations, and upholding of ethical practices in the workplace. ACTUs are also empowered to carry out preliminary and administrative investigations into cases of misconduct and refer to appropriate quarters as spelled out in the ACTU Standing Orders.</p>
                            <p>The Unit shall monitor, report on, and provide advice with respect to compliance with the prohibitions covering behaviors that bear on corrupt practices and contained in the following sections of the Corrupt Practices and Other Related Offences Act 2000:</p>
                            <ul>
                                <li>Section 8: Gratification by an official</li>
                                <li>Section 9: Corrupt offer to public officers</li>
                                <li>Section 10: Corrupt demand by persons</li>
                                <li>Section 11: Counseling offenses relating to corruption</li>
                                <li>Section 12: Fraudulent acquisition of property</li>
                                <li>Section 13: Fraudulent receipt of property</li>
                                <li>Section 14: Penalty of offenses committed through the postal system</li>
                                <li>Section 15: Deliberate frustration of investigation by the Commission</li>
                                <li>Section 16: Making a false statement or return</li>
                                <li>Section 17: Gratification by and through agents, and definition of agent</li>
                                <li>Section 18: Bribery of public officer</li>
                                <li>Section 19: Offenses of using offices and positions for gratification</li>
                                <li>Section 20: Penalty for offenses under sections 8-19</li>
                                <li>Section 21: Bribery in relation to auctions</li>
                                <li>Section 22: Bribery in giving assistance etc., in regard to contracts</li>
                                <li>Section 23: Duty to report bribery transactions</li>
                                <li>Section 24: Dealing with, using, holding, receiving, or concealing gratification</li>
                                <li>Section 25: Making of statement which is false or intended to mislead, etc.</li>
                                <li>Section 26: Attempt, preparations, abetments, and criminal conspiracies punishable as offense, delegation of Attorney-General’s power to prosecute</li>
                                <li>Section 27: Power to investigate reports and inquire into information</li>
                            </ul>
                            <h3>In a nutshell, this involves:</h3>
                            <ul>
                                <li>Preliminary Investigation</li>
                                <li>Prevention of corruption through Systems study and Review</li>
                                <li>Education and Enlightenment of public servants on, and against corruption</li>
                                <li>Promoting Ethics and Ensuring Compliance with ethical codes</li>
                                <li>Monitoring of Budget implementation</li>
                            </ul>
                            <h3>Backup Circular from Head of Service</h3>
                            <p>Backup Circular No. OHCSF/MSO/92/94 dated 2nd October 2001 mandated the MDAs to:</p>
                            <ul>
                                <li>MDAs are mandated to create a Budget line for the funding and operation of ACTUs in MDAs annual budgets.</li>
                                <li>Anti-Corruption and Transparency Units (ACTUs) would be represented in junior Staff Committee (JSC), Senior Staff Committee (SSC), Public Procurement Committee (PPC), and Technical Boards Evaluation Committee (TBEC) as observers only to enhance transparency of various committees in the discharge of their duties.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Anti-Corruption & Transparency Unit Details Area -->
    {% endblock content %}
    