{% extends "base.html" %}
{% load static %}
{% block content %}

		<!-- Slider Area -->
		<section class="slider">
			<div class="hero-slider">
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image: url('{% static "img/slider22.jpg" %}');">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Opening Ceremony of <span>65th </span> NCH in Maiduguri, <span>Borno State!</span></h1>
									<p>The Honourable Coordinating Minister for Health & Social Welfare Prof. Muhammadu Ali Pate addressing participants and stakeholders @ the Opening ceremony of the 65th National Council on Health, which held at the Mohammad Indimi Distance Learning Centre @ the University of Maiduguri, Borno State.</p>
									<div class="button">
										<a href="#" class="btn">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image: url('{% static "img/slider.jpg" %}');">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Opening Ceremony Of <span>65th</span> NCH In Maiduguri, <span>Borno State!</span></h1>
									<p>The Executive Governor of Borno State Prof. Babagana Umara Zulum addressing participants and stakeholders at the 65th National Council on Health. Prof. Zulum declaring the NCH open.</p>
									<div class="button">
										<a href="#" class="btn">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image: url('{% static "img/slider3.jpg" %}');">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Opening Ceremony Of <span>65th</span> NCH In Maiduguri, <span>Borno State!</span></h1>
									<p>From 2nd Left: His Excellency The Executive Governor of Borno State, Prof Babagana Umara Zulum in a tete-a-tete with the Honourable Coordinating Minister for Health & Social Welfare and Council Chairman, Prof Muhammadu Ali Pate; the Honourable Minister of State, Dr. Iziaq Adekunle Salako and, Permanent Secretary Daju Kachollom S. mni.</p>
									<div class="button">
										<a href="#" class="btn">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
			</div>
		</section>
		<!--/ End Slider Area -->
		
		<!-- Start Schedule Area -->
		<section class="schedule">
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="fa fa-ambulance"></i>
									</div>
									<div class="single-content">
										<span>Executives</span>
										<h4>PROF. ALI PATE</h4>
										<p>COORDINATING MINISTER OF HEALTH AND SOCIAL WELFARE.</p>
										<a href="#">Read Bio<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner">
									<div class="icon">
										<i class="icofont-prescription"></i>
									</div>
									<div class="single-content">
										<span>Executives</span>
										<h4>DR. IZIAQ ADEKUNLE SALAKO</h4>
										<p>HON. MINISTER OF STATE FOR HEALTH & SOCIAL WELFARE.</p>
										<a href="#">Read Bio<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-12">
							<!-- single-schedule -->
							<div class="single-schedule last">
								<div class="inner">
									<div class="icon">
										<i class="icofont-ui-clock"></i>
									</div>
									<div class="single-content">
										<span>Executives</span>
										<h4>DAJU KACHOLLOM S. mni</h4>
										<p>THE PERMANENT SECRETARY MINISTRY OF HEALTH AND SOCIAL WELFARE.</p>
										<a href="#">Read Bio <i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Start schedule Area -->

		<!-- Start Feautes -->
		<section class="Feautes section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>FMOH&SW PURPOSE</h2>
							<p>The Federal Ministry of Health & Social Welfare, Nigeria, is dedicated to safeguarding and improving the health and well-being of all Nigerians. Guided by our vision, mission, and mandate, we strive to create a robust healthcare system that ensures accessibility, affordability, and quality care for every citizen. Through strategic policies, innovative programs, and strong partnerships, we are committed to advancing public health, strengthening healthcare infrastructure, and promoting social welfare across the nation.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-stethoscope"></i>
							</div>
							<h3>Our Vision</h3>
							<p>To reduce the morbidity and mortality due to communicable diseases to the barest minimum, having minimal prevalence of non-communicable diseases, meeting global targets on the elimination and eradication of diseases, and significantly increasing the life expectancy and quality of life of Nigerians.</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-medical-sign-alt"></i>
							</div>
							<h3>Our Mission</h3>
							<p>To develop and implement policies and programmes as well as undertake other necessary actions that will strengthen the national health system to be able to deliver effective, efficient and affordable health services that foster improved health status of Nigerians, serving as the engine for the pursuit of accelerated economic growth and sustained development.</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features last">
							<div class="signle-icon">
								<i class="icofont icofont-stethoscope"></i>
							</div>
							<h3>Medical Treatment</h3>
							<p>Our mandate as the Federal Ministry of Health and Social Welfare is to ensure high-quality healthcare and vital services for a healthy Nigeria. We uphold global standards of excellence, striving for a prosperous nation through effective programs and assistance.</p>
						</div>
						<!-- End Single features -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Feautes -->
		
		<!-- Start Fun-facts -->
		<div id="fun-facts" class="fun-facts section overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-home"></i>
							<div class="content">
								<span class="counter">20</span>
								<p>Teaching Hospitals</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-home"></i>
							<div class="content">
								<span class="counter">13</span>
								<p>Specialty Hospitals</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-home"></i>
							<div class="content">
								<span class="counter">22</span>
								<p>Federal Medical Center</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-table"></i>
							<div class="content">
								<span class="counter">1999</span>
								<p>Operational Since</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Fun-facts -->
		
		<!-- Start Why choose -->
		<section class="why-choose section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>We Offer Different Services To Improve Your Health</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-12">
						<!-- Start Choose Left -->
						<div class="choose-left">
							<h3>Who We Are</h3>
							<p>FMOH&SW is a world class Government Institution that ensures a healthy Nigeria through the provision of effective healthcare facilities and humanitarian services.</p>
							<p>Our mission is rooted in excellence, innovation, and collaboration to build a healthier, more resilient nation.</p>
							<div class="row">
								<div class="col-lg-6">
									<ul class="list">
										<li><i class="fa fa-caret-right"></i>Quality healthcare services.</li>
										<li><i class="fa fa-caret-right"></i>Accessible medical facilities.</li>
										<li><i class="fa fa-caret-right"></i>Public health initiatives.</li>
									</ul>
								</div>
								<div class="col-lg-6">
									<ul class="list">
										<li><i class="fa fa-caret-right"></i>Humanitarian support programs.</li>
										<li><i class="fa fa-caret-right"></i>Strengthening health systems.</li>
										<li><i class="fa fa-caret-right"></i>Innovation in healthcare.</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- End Choose Left -->
					</div>
					<div class="col-lg-6 col-12">
						<!-- Start Choose Rights -->
						<div class="choose-right">
							<div class="video-image">
								<!-- Video Animation -->
								<div class="promo-video">
									<div class="waves-block">
										<div class="waves wave-1"></div>
										<div class="waves wave-2"></div>
										<div class="waves wave-3"></div>
									</div>
								</div>
								<!--/ End Video Animation -->
								<a href="https://www.youtube.com/@FMoHNigeria" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
							</div>
						</div>
						<!-- End Choose Rights -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Why choose -->
		
		<!-- Start Call to action -->
		<section class="call-action overlay" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="content">
							<h2>Do you need Emergency Medical Care? Call 122</h2>
							<p>In case of emergencies, our team is available 24/7 to provide urgent medical assistance. Don't hesitate to reach out if you or someone you know is in need of help.</p>
							<div class="button">
								<a href="tel:+234112" class="btn">Call Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Call to action -->
		
		<!-- Start portfolio -->
		<section class="portfolio section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Our Agencies</h2>
							<p>The Federal Ministry of Health & Social Welfare works in collaboration with various agencies to implement health policies, regulate medical standards, and enhance healthcare delivery across Nigeria. These agencies play a crucial role in ensuring public health, disease control, drug regulation, medical research, and healthcare training. Together, they contribute to a stronger, more efficient healthcare system that serves the needs of all Nigerians.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 col-12">
						<div class="owl-carousel portfolio-slider">
							<div class="single-pf">
								<img src="{% static 'img/pf111.png' %}" alt="#">
								<a href="portfolio-details.html" class="btn">View Details</a>
							</div>
							<div class="single-pf">
								<img src="{% static 'img/pf2.png' %}" alt="#">
								<a href="https://nphcda.gov.ng/" class="btn">View Details</a>
							</div>
							<div class="single-pf">
								<img src="{% static 'img/pf3.png' %}" alt="#">
								<a href="https://www.nafdac.gov.ng/" class="btn">View Details</a>
							</div>
							<div class="single-pf">
								<img src="{% static 'img/pf4.png' %}" alt="#">
								<a href="https://nimr.gov.ng/" class="btn">View Details</a>
							</div>
							<div class="single-pf">
								<img src="{% static 'img/pf5.png' %}" alt="#">
								<a href="https://www.niprd.gov.ng/" class="btn">View Details</a>
							</div>
							<div class="single-pf">
								<img src="{% static 'img/pf6.png' %}" alt="#">
								<a href="https://www.nhis.gov.ng/" class="btn">View Details</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End portfolio -->
		
		<!-- Start service -->
		<section class="services section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>MINISTER'S 4-POINT AGENDA</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-prescription"></i>
							<h4>Improve Governance</h4>
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-prescription"></i>
							<h4>Improve Population Health Outcomes</h4>
							<p>Expand access to quality healthcare services, reduce disease burden, and promote preventive care initiatives to enhance the well-being of Nigerians.</p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-prescription"></i>
							<h4>Unlock Healthcare Value Chain</h4>
							<p>Develop and support local pharmaceutical production, improve supply chain systems, and create an enabling environment for private sector participation in healthcare.</p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-prescription"></i>
							<h4>Health Security for Nigerians</h4>
							<p>Ensure preparedness for health emergencies, strengthen disease surveillance, and improve response mechanisms to protect citizens from public health threats.</p>	
						</div>
						<!-- End Single Service -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End service -->
		
		<!-- Start Blog Area -->
		<section class="blog section" id="blog">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Keep up with Our Most Recent News.</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'img/blog11.jpg' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<div class="date">06 Feb, 2025</div>
									<h2><a href="blog-single.html">2025 World Cancer Day; FG to Establish, Upgrade Tertiary Health Institutions for Cancer Care Services.</a></h2>
									<p class="text">Plans Catastrophic Health Insurance - Inaugurated Nuclear Medicine Technical Working Group.</p>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'img/blog22.jpg' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<div class="date">29 Jan, 2025</div>
									<h2><a href="blog-single.html">FG Emphasizes Health Education & Prevention for Healthy Population.</a></h2>
									<p class="text">The Federal Government has restated its commitment to implementing health education and prevention strategies; with the main objective of eradicating the heavy burden of non-communicable diseases, high mortality rate and mother-to-child transmission of HIV.</p>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'img/blog33.jpg' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<div class="date">03 Feb, 2025</div>
									<h2><a href="blog-single.html">CM PATE DETAILS NATIONWIDE EMERGENCY AND AMBULANCE PROGRAMME.</a></h2>
									<p class="text">NATIONWIDE EMERGENCY AND AMBULANCE PROGRAMME</p>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
				</div>
			</div>
		</section>
		<!-- End Blog Area -->
		
		<!-- Start Newsletter Area -->
		<section class="newsletter section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-12">
						<!-- Start Newsletter Form -->
						<div class="subscribe-text">
							<h6>Sign up for newsletter</h6>
							<p>Stay informed with the latest updates, health initiatives, and social welfare programs. Subscribe now and never miss an important update!</p>
						</div>
						<!-- End Newsletter Form -->
					</div>
					<div class="col-lg-6 col-12">
						<!-- Start Newsletter Form -->
						<div class="subscribe-form">
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="EMAIL" placeholder="Your email address" class="common-input" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'" required type="email">
								<button class="btn">Subscribe</button>
							</form>
						</div>
						<!-- End Newsletter Form -->
					</div>
				</div>
			</div>
		</section>
		<!-- /End Newsletter Area -->		

{% endblock content %}
