{% extends "base.html" %}
{% load static %}

{% block title %}
    Information Department - Federal Ministry of Health Nigeria
{% endblock title %}

{% block extra_css %}
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
{% endblock extra_css %}

{% block content %}
    <!-- Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="bread-inner">
                <div class="row">
                    <div class="col-12">
                        <h2>Information Department</h2>
                        <ul class="bread-list">
                            <li><a href="{% url 'fmohapp:index' %}">Home</a></li>
                            <li><i class="icofont-simple-right"></i></li>
                            <li class="active">Departments</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Portfolio Details Area -->
    <section class="pf-details section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner-content">
                        <div class="body-text">
                            <h2>Information Department</h2>
                            <p>Managing and facilitating communication processes, overseeing information dissemination, media relations, and internal communication strategies. The office is responsible for maintaining a positive public image, managing crisis communication, and advocating for health policies.</p>

                            <h2>Mandate</h2>
                            <p>The mandate of the office of the Director of Information in the Federal Ministry of Health encompasses various responsibilities related to information management, communication strategies, and public relations. These include:</p>
                            <ul>
                                <li>Organizing and managing information within the ministry.</li>
                                <li>Conveying important health-related information to the public, stakeholders, and within the ministry.</li>
                                <li>Managing relationships with media outlets.</li>
                                <li>Building and maintaining a positive public image for the Ministry of Health.</li>
                                <li>Facilitating effective communication within the ministry.</li>
                                <li>Overseeing the use of digital platforms and technologies for communication purposes.</li>
                                <li>Developing and implementing communication plans for handling crisis situations.</li>
                                <li>Supporting the ministry's policy advocacy efforts.</li>
                            </ul>

                            <h2>Structure</h2>
                            <p>The department consists of three key areas:</p>
                            <ul>
                                <li>Managing information.</li>
                                <li>Communication.</li>
                                <li>Public relations.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Portfolio Details Area -->
{% endblock content %}

{% block extra_js %}
    <!-- Owl Carousel JS -->
    <script src="{% static 'js/owl-carousel.js' %}"></script>
{% endblock extra_js %}