{% extends "base.html" %}
{% load static %}

{% block title %}FG Emphasizes Health Education & Prevention for Healthy Population - Federal Ministry of Health Nigeria{% endblock %}

{% block content %}
  <!-- Breadcrumbs -->
  <div class="breadcrumbs overlay">
    <div class="container">
      <div class="bread-inner">
        <div class="row">
          <div class="col-12">
            <h2>Press Release</h2>
            <ul class="bread-list">
                <li><a href="{% url 'fmohapp:index' %}">Home</a></li>
              <li><i class="icofont-simple-right"></i></li>
              <li><a href="{% url 'fmohapp:pressrelease1' %}">Press Releases</a></li>
              <li><i class="icofont-simple-right"></i></li>
              <li class="active">FG Emphasizes Health Education & Prevention for Healthy Population</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumbs -->

  <!-- Press Release Content -->
  <section class="news-single section">
    <div class="container">
      <div class="row">
        <!-- Main Content -->
        <div class="col-lg-8 col-12">
          <div class="single-main">
            <!-- News Head -->
            <div class="news-head">
              <img src="{% static 'img/blog22.jpg' %}" alt="FG Health Education">
            </div>
            <!-- News Title -->
            <h1 class="news-title">FG Emphasizes Health Education & Prevention for Healthy Population</h1>
            <!-- Meta Information -->
            <div class="meta">
              <div class="meta-left">
                <span class="author"><a href="#"><img src="{% static 'img/author2.jpg' %}" alt="#">Chinwe Okoro</a></span>
                <span class="date"><i class="fa fa-clock-o"></i>February 1, 2025</span>
              </div>
              <div class="meta-right">
                <span class="comments"><a href="#"><i class="fa fa-comments"></i>12 Comments</a></span>
                <span class="views"><i class="fa fa-eye"></i>20K Views</span>
              </div>
            </div>
            <!-- News Text -->
            <div class="news-text">
              <p>The Federal Government of Nigeria has launched a comprehensive campaign to promote health education and preventive measures as part of its commitment to building a healthier nation. In a statement released by the Ministry of Health, government officials emphasized the role of public education in combating non-communicable diseases and promoting healthy lifestyles.</p>
              <p>The campaign focuses on raising awareness about early detection, regular health screenings, and lifestyle modifications. Key initiatives include community outreach programs, school health education sessions, and partnerships with local media outlets to disseminate accurate health information.</p>
              <p>"Prevention is better than cure," stated a senior official during the press briefing. "We are investing in programs that empower citizens with the knowledge and resources needed to lead healthier lives, thereby reducing the strain on our healthcare system."</p>
              <blockquote class="overlay">
                <p>"By equipping our citizens with the right information, we aim to foster a culture of wellness and proactive health management." - Ministry Spokesperson</p>
              </blockquote>
              <p>The government is also collaborating with NGOs and community leaders to ensure that health education reaches even the most remote regions. This multi-faceted approach is expected to lower the incidence of preventable diseases and improve overall public health outcomes across Nigeria.</p>
            </div>
            <!-- Social Share and Navigation -->
            <div class="blog-bottom">
              <!-- Social Share -->
              <ul class="social-share">
                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
              <!-- Next/Previous Navigation -->
              <ul class="prev-next">
                <li class="prev"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                <li class="next"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Sidebar -->
        <div class="col-lg-4 col-12">
          <div class="main-sidebar">
            <!-- Search Widget -->
            <div class="single-widget search">
              <div class="form">
                <input type="email" placeholder="Search Here...">
                <a class="button" href="#"><i class="fa fa-search"></i></a>
              </div>
            </div>
            <!-- Recent News Widget -->
            <div class="single-widget recent-post">
              <h3 class="title">Recent News</h3>
              <div class="single-post">
                <div class="image">
                  <img src="{% static 'img/blog11.jpg' %}" alt="#">
                </div>
                <div class="content">
                  <h5><a href="{% url 'fmohapp:pressrelease1' %}">2025 World Cancer Day: FG to Establish, Upgrade Tertiary Health Institutions for Cancer Care Services</a></h5>
                  <ul class="comment">
                    <li><i class="fa fa-calendar" aria-hidden="true"></i>Feb 06, 2025</li>
                    <li><i class="fa fa-commenting-o" aria-hidden="true"></i>0</li>
                  </ul>
                </div>
              </div>
              <div class="single-post">
                <div class="image">
                  <img src="{% static 'img/blog33.jpg' %}" alt="#">
                </div>
                <div class="content">
                  <h5><a href="{% url 'fmohapp:pressrelease3' %}">CM Pate Details Nationwide Emergency and Ambulance Programme</a></h5>
                  <ul class="comment">
                    <li><i class="fa fa-calendar" aria-hidden="true"></i>Jan 28, 2025</li>
                    <li><i class="fa fa-commenting-o" aria-hidden="true"></i>8</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Tags Widget -->
            <div class="single-widget side-tags">
              <h3 class="title">Tags</h3>
              <ul class="tag">
                <li><a href="#">Health Education</a></li>
                <li><a href="#">Prevention</a></li>
                <li><a href="#">FG Initiatives</a></li>
                <li><a href="#">Public Health</a></li>
                <li><a href="#">Press Release</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Press Release Content -->
{% endblock content %}

{% block extra_js %}
  <!-- Optional: Additional JavaScript for this post -->
  <script src="{% static 'js/owl-carousel.js' %}"></script>
{% endblock extra_js %}
