{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="bread-inner">
                <div class="row">
                    <div class="col-12">
                        <h2>Department of Reform Coordination & Service Improvement</h2>
                        <ul class="bread-list">
                            <li><a href="{% url 'fmohapp:index' %}">Home</a></li>
                            <li><i class="icofont-simple-right"></i></li>
                            <li class="active">Departments</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Department Details Area -->
    <section class="pf-details section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner-content">
                        <div class="body-text">
                            <h2>DEPARTMENT OF REFORM COORDINATION & SERVICE IMPROVEMENT</h2>
                            <p>The Department of Reform Coordination and Service Improvement in the Federal Ministry of Health has the following mandates and functions:</p>
                            <ul>
                                <li>Manage the Department to serve as the focal point for driving all change, reform, innovation, and improvement efforts within the Ministry in line with the overall framework set by BPSR, OHCSF, and other Central Agencies of Government.</li>
                                <li>Work with leadership of the Ministry to identify processes, systems, and service gaps and with BPSR and OHCSF to develop interventions to eliminate such gaps.</li>
                                <li>Coordinate, drive, monitor, and report on the Reform Agenda for the ministry.</li>
                                <li>Manage and drive SERVICOM aims and initiatives within the Ministry.</li>
                                <li>Troubleshoot service failures and develop proposals to address them.</li>
                                <li>Research and identify good practices that can be adapted to improve service delivery in the Ministry.</li>
                                <li>Liaise with the Ministry’s Departments and the OHCSF to develop, improve, and recommend more efficient processes and systems for the Ministry to achieve its objectives.</li>
                                <li>Develop and launch initiatives to drive and mainstream a continuous service improvement culture within the Ministry.</li>
                                <li>Periodically conduct and monitor performances to determine levels of customer satisfaction, particularly of Tertiary Health Institutions (e.g., Teaching hospitals and medical centers).</li>
                                <li>Develop and deploy change management tools and practices to institute sustainable improvements in the Ministry.</li>
                                <li>Assist the leadership of the Ministry to articulate and coordinate their change agenda in line with service policies and standards.</li>
                            </ul>
                            
                            <h3>Programs and Activities of the Department</h3>
                            <ul>
                                <li>Receipt/handling of complaints and resolutions.</li>
                                <li>Monitoring of Service delivery in FMOH HQ and parastatals.</li>
                                <li>Sensitization/enlightenment of FMOH staff on various SERVICOM and Reform initiatives.</li>
                                <li>Establishment of Reception area numbering of offices and designing of directional signages in FMOH.</li>
                                <li>Development and production of service charter.</li>
                                <li>Honourable Minister of Health Award for Best Performing Institution as to the most deserving staff in FMOH.</li>
                                <li>Quarterly ministerial SERVICOM Committee (MSU)/Retreat for nodal/principal officers.</li>
                                <li>Stakeholders consultative forum/Retreat for CEOs of Health Institutions.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Department Details Area -->
{% endblock content %}
