{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="bread-inner">
                <div class="row">
                    <div class="col-12">
                        <h2>Permanent Secretary, Federal Ministry of Health</h2>
                        <ul class="bread-list">
                            <li><a href="{% url 'fmohapp:index' %}">Home</a></li>
                            <li><i class="icofont-simple-right"></i></li>
                            <li class="active">About the Permanent Secretary</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Permanent Secretary Details Area -->
    <section class="pf-details section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner-content">
                        <div class="body-text">
                            <h2>About the Permanent Secretary</h2>
                            <p>KACHOLLOM SHANGTI DAJU, mni, is the Permanent Secretary of the Federal Ministry of Health and Social Welfare. She began her public service career with the Federal Ministry of Information, now known as the Federal Ministry of Information and National Orientation (FMI & NO), as an Information Officer II (GL 08) and rose to the rank of Director (Information) in January 2019.</p>
                            
                            <!-- Image Slider -->
                            <div class="image-slider owl-carousel">
                                <div class="item"><img src="{% static 'img/download.jpeg' %}" alt="Permanent Secretary Photo 1" class="img-fluid"></div>
                                <div class="item"><img src="{% static 'img/download(3).jpeg' %}" alt="Permanent Secretary Photo 2" class="img-fluid"></div>
                                <div class="item"><img src="{% static 'img/download(5).jpeg' %}" alt="Permanent Secretary Photo 3" class="img-fluid"></div>
                            </div>

                            <h3>Current Role</h3>
                            <p>Ms. DAJU KACHOLLOM mni was appointed as a Federal Permanent Secretary for the Federal Ministry of Labour and Employment by His Excellency, President Muhammadu Buhari, on April 27, 2022. Prior to this appointment, she served as the Director of Public Relations and Protocol at the Federal Ministry of Information and Culture.</p>

                            <h3>Education</h3>
                            <ul>
                                <li>University of Jos Staff School (FSLC)</li>
                                <li>St. Louis College, Jos (WASC/GCE)</li>
                                <li>University of Jos (B.A Hons. English Language)</li>
                                <li>Ahmadu Bello University, Zaria (M.A. International Affairs & Diplomacy)</li>
                            </ul>

                            <h3>Notable Duties</h3>
                            <ul>
                                <li>Press Secretary, Federal Ministry of Agriculture & Rural Development</li>
                                <li>Head, Heart of Africa Project, Nigeria’s image project</li>
                                <li>Member, Board of the Nigerian Film Corporation (NFC), representing the then Federal Ministry of Information and Culture</li>
                            </ul>

                            <h3>Memberships</h3>
                            <ul>
                                <li>Senior Executive Course 43 (SEC’43) of the National Institute for Policy and Strategic Studies Kuru (NIPSS)</li>
                                <li>Nigerian Institute of Public Relations (NIPR)</li>
                                <li>Advertising Practitioners Council of Nigeria (APCON)</li>
                                <li>Fellow of the Institute of Strategic Management, Nigeria (ISMN)</li>
                            </ul>

                            <h3>Awards/Recognitions</h3>
                            <ul>
                                <li>Honorary Fellow, West African Postgraduate College of Pharmacists</li>
                            </ul>

                            <h3>Roles and Responsibilities</h3>
                            <p>The Permanent Secretary is the Chief Accounting Officer of the ministry and is responsible for running the ministry's day-to-day activities. Her specific functions include:</p>
                            <ul>
                                <li>Providing support and advice to the Honourable Ministers</li>
                                <li>Ensuring proper implementation of ministry-specific policies, budget plans, projects, and strategic plans</li>
                                <li>Providing leadership through the management and motivation of Directors and reform initiatives to increase overall work efficiency</li>
                                <li>Coordinating the effective and efficient utilization of financial resources in line with the Ministry of Finance/Treasury requirements and policies as well as the Procurement Act</li>
                                <li>Effectively managing human resources; instilling discipline, supporting innovations and inventions, and creating an enabling environment for staff growth and self-improvement</li>
                                <li>Managing communications and interactions with the public</li>
                                <li>Consulting with Directors and DGs of agencies and parastatals under the ministry where appropriate</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Permanent Secretary Details Area -->
	 <!-- Include jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Include Owl Carousel JS -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <!-- Include Owl Carousel JS -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $(".image-slider").owlCarousel({
                items: 1, // Number of items to display
                loop: true, // Loop the slider
                autoplay: true, // Enable autoplay
                autoplayTimeout: 3000, // Autoplay interval in milliseconds
                autoplayHoverPause: true, // Pause on hover
                nav: false, // Show next/prev buttons
                dots: true // Show dots
            });
        });
    </script>
{% endblock content %}